.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/background.jpg);
    background-size:105%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.btn-block {
    /* width: 30%; */
    background-color: #ff0000;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.flag {
    display: block;
    margin-top:30% !important;
}

.btn-div {
    margin-top:20px !important;
}

img {
    width: 100%;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:5px solid transparent;
    border-radius: 5px;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:5px solid #ff0000;
    border-radius: 10px;
  }